@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f9f9f9;
  color: #000;
}

body,
button,
input {
  font-family: "Open Sans", sans-serif;
}

.float-menu {
  display: none;
  background-color: #fff;
  position: absolute;
  padding: 5px 5px 5px 1px;
  top: 45px;
  left: 0px;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 6%);
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  z-index: 1;
}
.float-menu::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 10%;
  background: url("images/images-large-s546941f7e6.png") no-repeat;
  background-position: 0 -15px;
  width: 25px;
  height: 11px;
  z-index: 1;
}
.float-menu > ul {
  list-style: none;
}
.float-menu > ul > li > a {
  text-decoration: none;
  font-family: arial, helvetica, sans-serif;
  color: #999;
  font-size: 1.2rem;
  white-space: nowrap;
  padding: 3px 5px;
  font-weight: 600;
  border-left: 3px solid transparent;
  display: block;
  margin: 2px 0;
}
.float-menu > ul > li > a:hover {
  color: #1063e0;
  border-color: #1063e0;
}

.top-bar {
  background-color: #f3f3f3;
}

.top-bar .aligner {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar .external-links {
  display: flex;
  align-items: center;
  height: 44px;
}
.top-bar .external-links > a {
  height: fit-content;
  line-height: 0;
  margin-right: 10px;
  text-decoration: none;
}
.top-bar .external-links > a:hover {
  opacity: 0.7;
}

.top-bar .external-links .logo-globo-svg {
  width: 75px;
}

.top-bar .external-links .more-links {
  display: flex;
  height: 100%;
}
.top-bar .external-links .more-links > li {
  display: flex;
  align-items: center;
  position: relative;
}
.top-bar .external-links .more-links > li::before {
  content: "";
  width: 1px;
  height: 10px;
  background: #ddd;
  display: block;
}
.top-bar .external-links .more-links > li > a {
  border-top: 2px solid transparent;
  padding: 0 10px;
  display: flex;
  height: 100%;
  align-items: center;
  font-family: arial, helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  font-weight: 600;
  list-style: none;
  line-height: 1px;
}
.top-bar .external-links .more-links > li:hover > .float-menu {
  display: block;
}
.top-bar .external-links .more-links > li:nth-child(1) > a {
  color: #a80000;
}
.top-bar .external-links .more-links > li:nth-child(2) > a {
  color: #06aa48;
}
.top-bar .external-links .more-links > li:nth-child(3) > a {
  color: #ff7f00;
}
.top-bar .external-links .more-links > li:nth-child(4) > a {
  color: #005cef;
}
.top-bar .external-links .more-links > li:nth-child(5) > a {
  color: #1e4c9a;
}
.top-bar .external-links .more-links > li:nth-child(1) > a:hover {
  border-color: #a80000;
}
.top-bar .external-links .more-links > li:nth-child(2) > a:hover {
  border-color: #06aa48;
}
.top-bar .external-links .more-links > li:nth-child(3) > a:hover {
  border-color: #ff7f00;
}
.top-bar .external-links .more-links > li:nth-child(4) > a:hover {
  border-color: #005cef;
}
.top-bar .external-links .more-links > li:nth-child(5) > a:hover {
  border-color: #1e4c9a;
}

.top-bar .user-links {
  list-style: none;
  display: flex;
}
.top-bar .user-links > li {
  position: relative;
  padding: 0 8px;
}
.top-bar .user-links > li:hover > .float-menu {
  display: block;
}
.top-bar .user-links > li > a {
  font-size: 1.27rem;
  color: #868686;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 0;
  transition: color 0.3s ease;
}
.top-bar .user-links > li > a > i {
  font-size: 1rem;
}
.top-bar .user-links a.highlight {
  background: linear-gradient(#fdfdfd, #d8d8d8);
  color: #5f5d5d;
  border: 1px solid #ccc;
  padding: 1px 3px 3px 3px;
  border-radius: 3px;
}
.top-bar .user-links > li > a:hover {
  color: #1063e0;
}
.top-bar .user-links > li > a.highlight > i {
  margin: 0 3px;
}

@media only screen and (max-width: 750px) {
  .top-bar {
    display: none;
  }
}

.main-header {
  background-color: #c4170c;
  height: 75px;
}

@media only screen and (max-width: 750px) {
  .main-header {
    height: 50px;
  }
}

.main-header .aligner {
  max-width: 1360px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .menu-btn > button {
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
}
.main-header .menu-btn > button > i {
  font-size: 2rem;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 3px;
}

@media only screen and (max-width: 750px) {
  .main-header .menu-btn > button > span {
    display: none;
  }
}

.main-header .logo {
  width: 53px;
}
.main-header .logo img {
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .main-header .logo {
    width: 37px;
  }
}

.main-header .search-form {
  width: 164px;
  height: 33px;
  position: relative;
}
.main-header .search-form > form {
  position: absolute;
  top: 0;
  right: 0;
}
.main-header .search-form > form > label {
  position: absolute;
  top: 5px;
  left: 7px;
  z-index: 1;
  color: #fff;
  font-size: 1.7rem;
}
.main-header .search-form > form:focus-within > label {
  color: #969696;
}
.main-header .search-form > form > input[type="text"] {
  width: 164px;
  height: 33px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: 0;
  font-size: 1.4rem;
  padding: 5px 5px 4px 32px;
  transition: width ease 0.3s;
  font-weight: 600;
}
.main-header .search-form > form > input[type="text"]::placeholder {
  text-transform: uppercase;
  color: #fff;
}
.main-header .search-form > form > input[type="text"]:focus {
  width: 220px;
  color: #333;
  background-color: #fff;
}
.main-header .search-form > form > input[type="text"]:focus::placeholder {
  color: #969696;
}

@media only screen and (max-width: 750px) {
  .main-header .search-form {
    display: none;
  }
}

.main-header .search-btn {
  display: none;
}
.main-header .search-btn > button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
}

@media only screen and (max-width: 750px) {
  .main-header .search-btn {
    display: block;
  }
}

.main-nav {
  /* display: none; */
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}

.main-nav .aligner {
  width: 272px;
  height: 100vh;
  background-color: #fafafa;
  overflow-x: auto;
}

.main-nav .nav-pages {
  display: flex;
  overflow: hidden;
}

.main-nav .nav-page {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  /* left: -100%; */
  overflow: hidden;
  max-height: 100vh;
}
.main-nav .nav-page.selected {
  overflow: unset;
  max-height: unset;
}
.main-nav .nav-page > .back-btn {
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: #fff;
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.9rem;
  padding: 25px 20px;
  box-shadow: 0 1px 0 0 #eee;
}
.main-nav .nav-page > .back-btn > i {
  color: #c4170c;
  font-size: 1.3rem;
  vertical-align: middle;
  margin-right: 10px;
}

.main-nav .nav-page > .title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
  margin: 25px 0 0 20px;
}

.main-nav .links {
  list-style: none;
  margin: 15px 20px 20px 20px;
  border-bottom: 1px solid #eee;
  padding: 0 0 20px 0;
}
.main-nav .links > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.9rem;
  font-weight: 300;
  text-decoration: none;
  color: #666;
  padding: 8px 0;
}
.main-nav .links > li > a:hover {
  color: #1063e0;
}
.main-nav .links > li > a > i {
  font-size: 1.1rem;
  color: #a80000;
}

.main-nav .user-links {
  margin: 0 10px;
}
.main-nav .user-links > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}
.main-nav .user-links > a > .text-right {
  color: #666;
  font-weight: 300;
}
.main-nav .user-links > a > .text-right > span {
  display: block;
}
.main-nav .user-links > a > .text-right > .highlight {
  font-size: 1.5rem;
  font-weight: 700;
  color: #c4170c;
}
.main-nav .user-links > a > .text-right > .light {
  font-size: 1.2rem;
  font-weight: 400;
}
.main-nav .user-links > a > .text-right > .normal {
  font-size: 1.6rem;
}
.main-nav .user-links > a > .icon-left {
  width: 40px;
  text-align: center;
  color: #999;
  font-size: 1.9rem;
}
.main-nav .user-links > a > .icon-left > img {
  line-height: 0;
  vertical-align: middle;
}

/* 
.main-container {
}

.main-footer {
} */
